.home
  %h1.colored.green
    Are YOU a Snapsplorer?
  .blog.content
    .post
      %h2=raw "Snap&bull;splore (v):" 
      .content
        %p 1) To boldly search for interesting and challenging sights, relate them tenuously to preselected categories, and share them with the world.
        %p 2) To find awesomeness wherever it may be and then steal its soul with your fancy device.
        %p 3) The game previously known as "Cell Phone Scavenger Hunt"
    .post
      %h2 Introduction
      .content
        %p You probably own a camera... maybe on your smartphone or feature phone. You probably like fun. If both of these apply, then you too can be a Snapsplorer! 
        %p
          %span Check out our
          %span
            %a{href:"/games"}launch game
          %span and get started on the fun!