.home
  %h1.colored.green
    Cell Phone Scavenger Hunt
  .blog.content
    .post
      %h2 The Game
      .content
        Cell Phone Scavenger Hunt is whatever you want to make it.
    .post
      %h2 Introduction
      .content
        This is a blog post entry. It's going to be very dirty at the start because I'm not really looking to create a blog so much as I am looking to host very static content. It has to be automated with a back-end eventually, as all things must be, but that's not the point right now.