*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/solr/data/*
/solr/pids/*
/config/database.yml
/config/sunspot.yml
/config/initializers/secret_token.rb
/coverage
/public/uploads/
/public/uploads/*
/public/feeds/
/public/feeds/*
.ruby-version
.ruby-gemset
