.user
  %ul
    %li.current-user
      - if user_signed_in?
        .sign-out.link
          = link_to "(Sign Out)", destroy_user_session_path, method: :delete
        .user-name.link
          = link_to current_user.name, "#"
      -else
        .sign-in.link
          = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)