.home
  %h1.colored.green
    = "<%= watch_this_space %>"
  .blog.content
    .post
      %h2 Sorry, but.... 
      .content
        %p Our first game launches on 5/18/2014. Check back with us then for our grand opening!