@import "neat-helpers";

// Change the grid settings
$column: golden-ratio(1em, 3);
$gutter: golden-ratio(1em, -1);
$grid-columns: 12;
$font-size:18px;
$max-width: em(860);

// Define your breakpoints
$mobile: new-breakpoint(max-width 980px 12);
$tablet: new-breakpoint(min-width 981px max-width 1439px 12);
