.games {
  .display{
    padding:0 0 20px 0;
    p{
      margin:0 0 10px 20px;
      line-height:20px;
    }
    span.warn {color:$red;maring:10px 0;}
    ul {
      @include clearfix();
      li {
        width:45%;
        float:left;
        padding:22px 5px;
        margin:15px;
        font-size:24px;
        text-align:center;
        background:$red;
        a {
          padding:10px;
        }
      }
      li:hover{
        cursor:pointer;
        background:$orange;
        color:$white;
      }
      li.solved{
        background:$donegreen;
      }
      li.solved:hover{
        color:$white;
        background:$orange;
      }
    }
  }
}