.games {
  .display{
    padding:0 0 20px 0;
    p{
      margin:0 0 10px 20px;
      line-height:20px;
    }
    ul {
      @include clearfix();
      li {
        width:47%;
        float:left;
        margin:5px 1% 10px 1%;
        padding:0 0 0 15px;
        background:$red;
        a {
          padding:10px;
        }
      }
      li:hover{
        cursor:pointer;
        background:$orange;
        color:$white;
      }
      li.solved{
        background:$donegreen;
      }
      li.solved:hover{
        color:$white;
        background:$orange;
      }
    }
  }
}