/* =========================================
 CPSH CSS
 Josh Hlibichuk 4/18/2014
=============================================*/

@import "bourbon";
@import "grid-settings";
@import "neat";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

$background:#262630;
$foreground:#35455C;
$font:#BEAEAE;

$red:#E14A4A;
$orange:#EDAD61;
$blue: #10062E;

$lightred:#F07777;
$lightorange:#F6C489;

$gray:#BEAEAE; /*font color also */
$green:#29718F;
$donegreen:#009b2f;
$white: #fff;
$black: #000;


@import "overrides";
h1,h2,h3{font-family: 'Share Tech Mono',Courier; font-weight:300;padding:15px;text-align:center;width:100%; color:$white;}
h1 { font-size:38px; }
h2 { font-size:32px; }
h3 { font-size:26px; }
a { color: $white; text-decoration:none; }
a:hover { color: $orange; text-decoration:underline;}

.content p { margin-bottom: 8px;}

.colored{
  border: 0px;
  width:100%; 
  border-radius:6px 6px 0 0;
}

.colored.red { background:$red; }
.colored.orange { background:$orange; }
.colored.green { background:$green; }

.button{
  width:75%;
  margin:15px auto 10px auto;
  float:none;
  display:block;
  padding:15px;
  border-radius:6px;
  font-size:16px;
  color:$white;
  cursor: pointer;
}
.button.colored.red:hover { background:$lightred; }
.button.colored.orange:hover { background:$lightorange; }


.hidden{display:none;}

body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 400;
  color: $font;
  background: $background;// url(/assets/bgslice.png) repeat-x fixed;
  font-size:$font-size;
}

div.container { @include outer-container; padding-bottom: 10px;}
.header {
  min-height:125px;
  padding:15px;
  margin-bottom:25px;
  .top {
    width:100%;
    .logo {float:left;}
    .user {
      float:right;
      padding:20px;
      .current-user{
        float:left;
        .user-name {
          margin-right:10px;
        }
        .sign-out {
          margin:5px;
          font-size:16px;
        }
      }
    }
  }
}

.navigation {
  //background: $orange;
  background: $red;
  color:$white;
  display:block;
  width:100%;
  float:left;
  padding:15px;
  a{
    font-size:24px;
    padding:5px;
  }
  ul {
    float:left;
    display:block;
    width:100%;
    li {
      float:left;
      margin:0 5px 0 0;
    }
    .link {
      float:left;
      margin: 0 5px 0 0;
    }
  }
  .snap-link{
    float:left;
  }
  .explore-link{
    float:right;
  }
}
.main {
  margin-top:45px;
  padding:15px;
  .control.left, .control.right{
    width:100%;
    margin-bottom:20px;
  }
}

.control {
  background-color:$foreground;
  border-radius:6px;
}
.content {
  padding:10px 20px 10px 10px;
  line-height:24px;
  margin-bottom:25px;
}

.footer {
  min-height:15px;
}
.full-entry, .full-entry img {
  height:100%;
  width:100%;
}
.overlay {  
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.8;
  background:black;
}
.modal{
  position:fixed;
  top:40%;
  left:5%;
  margin:0 auto;
  background-color:#fff;
  width:90%;
  padding:15px;
  text-align:left;
  border:2px solid #333;
  z-index:2000;
  opacity:0.8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
  color:$black;
  h2{
    color:black;
  }
}
@import "games";
@import "entries";
@import "explore";
@import "users";
@import "pphoto";

/* responsive
=============================*/

img { max-width:100%; }

@import "tablet";
@import "mobile";
